<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
      Stay At Home
    </title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <!-- Extra details for Live View on GitHub Pages -->
    <!-- Canonical SEO -->
    <link rel="canonical" href="https://www.creative-tim.com/product/material-dashboard" />
    <!--  Social tags      -->
    <meta name="keywords" content="creative tim, html dashboard, html css dashboard, web dashboard, bootstrap 4 dashboard, bootstrap 4, css3 dashboard, bootstrap 4 admin, material dashboard bootstrap 4 dashboard, frontend, responsive bootstrap 4 dashboard, free dashboard, free admin dashboard, free bootstrap 4 admin dashboard">
    <meta name="description" content="Material Dashboard is a Free Material Bootstrap Admin with a fresh, new design inspired by Google's Material Design.">
    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="Material Dashboard by Creative Tim">
    <meta itemprop="description" content="Material Dashboard is a Free Material Bootstrap Admin with a fresh, new design inspired by Google's Material Design.">
    <meta itemprop="image" content="https://s3.amazonaws.com/creativetim_bucket/products/50/opt_md_thumbnail.jpg">
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="product">
    <meta name="twitter:site" content="@creativetim">
    <meta name="twitter:title" content="Material Dashboard by Creative Tim">
    <meta name="twitter:description" content="Material Dashboard is a Free Material Bootstrap Admin with a fresh, new design inspired by Google's Material Design.">
    <meta name="twitter:creator" content="@creativetim">
    <meta name="twitter:image" content="https://s3.amazonaws.com/creativetim_bucket/products/50/opt_md_thumbnail.jpg">
    <!-- Open Graph data -->
    <meta property="fb:app_id" content="655968634437471">
    <meta property="og:title" content="Material Dashboard by Creative Tim" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://demos.creative-tim.com/material-dashboard/examples/dashboard.html" />
    <meta property="og:image" content="https://s3.amazonaws.com/creativetim_bucket/products/50/opt_md_thumbnail.jpg" />
    <meta property="og:description" content="Material Dashboard is a Free Material Bootstrap Admin with a fresh, new design inspired by Google's Material Design." />
    <meta property="og:site_name" content="Creative Tim" />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- CSS Files -->
    <link href="css/material-dashboard.min.css?v=2.1.2" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="css/demo.css" rel="stylesheet" />
   <link href="css/stylesSign.css" rel="stylesheet" />
     <!-- Google Tag Manager -->
    <script>
      (function(w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
          'gtm.start': new Date().getTime(),
          event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-NKDMSK6');
    </script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="css/style.css">
    
    <!-- End Google Tag Manager -->
  </head>


<body>

  <div id="container">

    <div class="sidebar" data-color="white" data-background-color="white">
      <!--
      Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

      Tip 2: you can also add an image using data-image tag
  -->
      <div class="logo">
        <img src="/image/logo.png" id="logo">
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item active">
            <a class="nav-link" href="#0">
              <i class='fas fa-home'></i>
              <p style="font-size: 20px;">Stay At Home</p>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#2">
              <i class='far fa-address-book'></i>
              <p style="font-size: 20px;">About Us</p>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#2">
              <i class='fas fa-user-tag'></i>
              <p style="font-size: 20px;">Services</p>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#2">
              <i class="fa fa-group"></i>
              <p style="font-size: 20px;">Customers</p>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#2">
              <i class='fas fa-film'></i>
              <p style="font-size: 20px;">Pictures & Videos</p>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#2">
              <i class="fa fa-comments"></i>
              <p style="font-size: 20px;">Contact Us</p>
            </a>
          </li>
          <!-- your sidebar here -->
        </ul>
      </div>

  </div>
           

    <div id="BODY">
        <div class="contaner">
      <form action="/next" method="post" id="addEvent" >
          <label class="LABEL">Name </label>
            <input  type="text" name="name" class="IN" id="name"  autocomplete="off" required>
            <label class="LABEL">Telephone Number </label>
            <input  type="text" name="tel" class="IN" id="tel" autocomplete="off" required>
            <label class="LABEL">E-mail </label>
            <input  type="text" name="mail" class="IN" id="mail" autocomplete="off" required>
            <label class="LABEL">ID Number</label>
            <input  type="text" name="num" class="IN" id="num" autocomplete="off" required>
            <hr>
            <label class="LABEL">*If you work in a company, please also enter this inINation*</label>
            <label class="LABEL">Nmae of Company</label>
           <input  type="text" name="namecomp" class="IN" id="namecomp" autocomplete="off">
           <label class="LABEL">Field of Company </label>
           <input  type="text" name="field" class="IN" id="field" autocomplete="off">
           <label class="LABEL">Name of Manager </label>
           <input  type="text" name="nameman" class="IN" id="nameman" autocomplete="off">
           <label class="LABEL">Licensed Operator Number </label>
           <input  type="text" name="licensed" class="IN" id="licensed" autocomplete="off">

            <button type="submit" class="save" >Next</button>
            </div>
          </form>
        </div>
     
      </div>

</div>
</body>

</html>


